{
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "experimentalTernaries": true,
  "singleAttributePerLine": true,
  "bracketSameLine": false
}
